<!-- code for navbar starts here -->

<nav class="navbar navbar-expand-lg navbar-dark "style="background-color:cadetblue">
    <div class="container" >
        <a class="navbar-brand" href="" style="font-size: 2rem;"> <img src="/images/logo.png" alt="" width="45" height="40" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="#home" class="nav-link">Home</a>
              </li>
              <li class="nav-item">
                <a href="#about_us" class="nav-link">About Us</a>
              </li>
              <li class="nav-item">
                <a href="#getstarted" class="nav-link">Get Started</a>
              </li>
              <li class="nav-item">
                <a href="#services" class="nav-link">Services</a>
              </li>
              <li class="nav-item">
                <a href="#contact-footer" class="nav-link">Contact</a>
              </li>
        </ul>
    </div>
    </div>
    
</nav>

<!-- code for navbar ends here -->
<!-- code for the home section starts -->

<section class="bg-light text-center p-5 p-lg-0 pt-lg-0 text-sm-start">
    <div class="container-fluid mt-0 bg-dark text-light p-3">
        <h1 class="text-center">
            <img src="images/emoji.png" alt="emoji" srcset="">
            <span style="font-family:cursive">DocuSafe</span>
        </h1>
        <h5 style="font-family: cursive;">Trusted by Million Of Users</h5>
    </div>
    <div class="container mt-3">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h1>
                    Digital Document
                    <span class="text-primary">Wallet</span>
                </h1>
                <code>"Get Your Document Anytime ,Anywhere,in just one Click"</code>
                <p class="lead my-4">
                    Discover peace of mind with DocuSafe, the ultimate one-stop solution for seamless access to all your vital documents, anytime and anywhere
                </p>
                <p class="lead my-4">
                    Experience the power of a centralized system with the flexibility of decentralization, all in one solution.
                </p>
                <a href="#about_us" class="mb-3">
                    <button class="lead btn btn-primary py-2 px-5 mb-3">Explore us</button>
                </a>
            </div>
        </div>
    </div>

</section>
<!-- code for the home section ends -->
<!-- code for the about us section starts -->
<section class="bg-light text-center p-5 p-lg-0 pt-lg-0 text-sm-start">
    <div class="container-fluid mt-0 bg-dark text-light p-3">
        <h1 class="text-center">
            
            <span style="font-family:cursive">About Us</span>
        </h1>
        
    </div>
    <div class="container mb-5">
        <div class="d-sm-flex align-items-center justify-content-between">
            <img src="images/about_us.avif" alt="" srcset="" style="margin-right:10px;">
            <div>
                <p class="lead my-4">
                    "During our college journey, we are flooded with numerous documents and certificates. From our own submissions to the institute's documents, it can be a tedious and time-consuming process to manage them all. Worse yet, these documents are often scattered and disorganized, making it difficult to locate them when needed. That's where our innovative solution, "DocuSafe," comes in. With DocuSafe, all your documents and certificates are centralized in one place, making it effortless to manage and access them at any time, from anywhere."
                  </p>
                  <p class="lead my-4">
                    "DocuSafe is the ultimate one-stop solution for all your document management needs. By centralizing the entire process, from registration to semester results, event certificates, and beyond, DocuSafe reduces administrative overhead and makes everything just a click away. And the best part? DocLock doesn't rely on a centralized database, but rather utilizes a decentralized approach for added security and accessibility. As we look to the future, DocuSafe has even more exciting prospects, such as digital document exchange with authentication, making it easier than ever to manage your documents and certificates."
                  </p>
            </div>
        </div>
    </div>

</section>

<!-- code for the about us section ends -->
<!-- code for the get started section Starts -->
<section class="bg-light text-center p-5 p-lg-0 pt-lg-0 text-sm-start">
    <div class="container-fluid mt-0 bg-dark text-light p-3">
        <h1 class="text-center">
            
            <span style="font-family:cursive">Get Started</span>
        </h1>
        
    </div>
    <div class="container my-5">
        <div class="card-group">
            <div class="card">
              <img class="card-img-top" src="images/student.avif" alt="Card image cap">
              <div class="card-body">
                <h1 class="card-title" style="font-family:cursive;;">Student</h1>
                <p class="card-text lead">"Are you tired of constantly saving and resaving your important documents? Do you find yourself struggling to remember where you saved your important certificates? Look no further than DocuSafe! With our streamlined solution, you can finally say goodbye to these headaches. Simply log in to your secure account, provided by your admin, and enjoy the peace of mind that comes with effortless document management."</p>
                <button class="btn btn-primary"><a href="http://localhost:3000/student/login" style="color: white;">Login</a></button>
               
              </div>
            </div>
            <div class="card ml-3">
              <img class="card-img-top" src="images/admin.avif" alt="Card image cap">
              <div class="card-body">
                <h1 class="card-title" style="font-family:cursive;">Admin</h1>
                <p class="card-text lead">"Ready to streamline your administrative workload? With DocuSafe, there's no more need to send certificates and important documents to each recipient separately. With our centralized solution, you can now securely store and share documents with ease, freeing up valuable time and reducing administrative overhead."</p>
                <button class="btn btn-primary"><a href="http://localhost:3000/admin/login" style="color: white;">Login</a></button>
              </div>
            </div>
            
          </div>
    </div>

</section>
<!-- code for the get started section ends -->
<!-- code for the services section starts -->
<section class="bg-light text-center p-5 p-lg-0 pt-lg-0 text-sm-start">
    

</section>
<!-- code for the services section ends -->